* {
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 100%;
    background: #F1F1F1;
}

*, html {
    text-align: center;
    --primaryGradient: linear-gradient(93.12deg, #0077FF 0.52%, #00A8E8 100%);
    --secondaryGradient: linear-gradient(268.91deg, #0077FF -2.14%, #00A8E8 10%);
    --primaryBoxShadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    --secondaryBoxShadow: 0px -10px 15px rgba(0, 0, 0, 0.1);
    --primary: #0077FF;
}


/* CHATBOX
=============== */
.chatbox {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

/* CONTENT IS CLOSE */
.chatbox__support {
    display: flex;
    flex-direction: column;
    background: #eee;
    width: 300px;
    height: 350px;
    z-index: -123456;
    opacity: 0;
    transition: all .5s ease-in-out;
}

/* CONTENT ISOPEN */
.chatbox--active {
    transform: translateY(-40px);
    z-index: 123456;
    opacity: 1;

}

/* BUTTON */
.chatbox__button {
    text-align: right;
}

.send__button {
    padding: 6px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}


/* HEADER */
.chatbox__header {
    position: sticky;
    top: 0;
    background: orange;
}

/* MESSAGES */
.chatbox__messages {
    margin-top: auto;
    display: flex;
    overflow-y: scroll;
    flex-direction: column-reverse;
}

.messages__item {
    background: orange;
    max-width: 60.6%;
    width: fit-content;
}

.messages__item--operator {
    margin-left: auto;
}

.messages__item--visitor {
    margin-right: auto;
}

/* FOOTER */
.chatbox__footer {
    position: sticky;
    bottom: 0;
}

.chatbox__support {
    background: #f9f9f9;
    height: 450px;
    width: 350px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* HEADER */
.chatbox__header {
    background: var(--primaryGradient);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: var(--primaryBoxShadow);
}

.chatbox__image--header {
    margin-right: 10px;
}

.chatbox__heading--header {
    font-size: 1.2rem;
    color: white;
}

.chatbox__description--header {
    font-size: .9rem;
    color: white;
}

/* Messages */
.chatbox__messages {
    padding: 0 20px;
}

.messages__item {
    margin-top: 10px;
    background: #E0E0E0;
    padding: 8px 12px;
    max-width: 70%;
}

.messages__item--visitor,
.messages__item--typing {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.messages__item--operator {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: var(--primary);
    color: white;
}

/* FOOTER */
.chatbox__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    background: var(--secondaryGradient);
    box-shadow: var(--secondaryBoxShadow);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 20px;
}

.chatbox__footer input {
    width: 80%;
    border: none;
    padding: 10px 10px;
    border-radius: 30px;
    text-align: left;
}

.chatbox__send--footer {
    color: white;
}

.chatbox__button button,
.chatbox__button button:focus,
.chatbox__button button:visited {
    padding: 10px;
    background: white;
    border: none;
    outline: none;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.icono {
    width: 48px; 
    height: 48px;
}

/* CARGAR IMAGEN */

/* Estilos para el encabezado */
h1 {
    text-align: center; 
    color: #0077ff93;
    font-weight: 800;
    line-height: 60px !important;
}
  
/* Estilos para el contenedor principal */
.container{
    width: 50%;
    background-color: #fff !important;
    border-radius: 10px;
    box-shadow: 0 2.5rem 2rem -2rem hsl(200 50% 20% / 40%);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 0 auto 50px;
}
h2{
    text-align: center;
    color: #0077FF;
    font-weight: 800;
    line-height: 60px !important;
}

h4{
    text-align: center;
    color: #011124ef;
    font-size: small;
    font-weight: 800;
    line-height: 60px !important;
}

  /* Estilos para el mensaje flash */
ul, .descripcion {
    text-align: center;
    list-style-type: none; /* Eliminar viñetas de la lista */
    padding: 20px; /* Eliminar el relleno predeterminado */
}
  
form {
    text-align: center;
    width: 500px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 4px; 
    padding: 20px;
}


.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px; 
}

/* Estilos para el botón de envío */
.btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px; 
    cursor: pointer;
    margin: 0 auto; 
}
  
.btn:hover {
    background-color: #0062cc;
}
  
/* Estilos para la imagen estadística */
.imagen_estadistica {
    width: 200px; 
    height: 200px;
    display: block;     
    margin: 0 auto; 
}


/* Audio */
.btn_play {
    background-color: #4CAF50; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 10px; 
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 4px;
}
.btn_play:hover {
    background-color: #1f7222; 
}

.btn_pause {
    background-color: #0077ff93; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 10px; 
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 4px;
}
.btn_pause:hover {
    background-color: #0077ff93; 
}